
/* html {
  height: 100%;
} */
body {
  margin: 0;
}

.map {
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  cursor: crosshair;}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    color: white;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    max-width: 400px;
    max-height: 350px;
    overflow-x: auto;
    overflow-y: auto;
    cursor:default;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
    
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 15px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }

  .rotate-north {
    top: 65px;
    left: .5em;
  }
  .ol-touch .rotate-north {
    top: 80px;
  }


  #container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #open-sidebar {
    z-index: 2;
    /*position: absolute;*/
    top: .5em;
    right: .5em;
  }

  #sidebar {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightseagreen;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7em;
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
  }

  .tab {
    padding-left: 1em;
  }

  #tab-list {
    position: relative;
    background-color: grey;
    transition: 0.25s;
    display: inline-block;
  }

  #list-of-tabs {
    position:absolute;
    width: 100%;
    padding: 0;
    justify-content: center;
    list-style-type: none;
  }
  #list-of-tabs > li {
    margin: 0.3rem;
  }

  #layer-button-list {
    display: inline-block;
    position: absolute;
    top: 80px;
  }

  #clear-layers {
    display: none;
  }

  #active-layers-section {
    display: none;
    padding-top: 10px;
  }

  #layer-pool-section {
    display: none;
    padding-top: 10px;
  }


  #show-extras-label {
    display: none;
    position: absolute;
    padding-left: 1em;
  }

 .layer-button {
    position: absolute;
    color: black;
    font-style: italic;
  }

  #settings {
    display: none;
    z-index: 2;
    position: absolute;
    top: 100px;
  }

  #scaleline-id {
    position: absolute;
    bottom: 70px;
    right: 3em;
    width: 12%;
    height: 4vh;

  }

  #mouse-position {
    position: absolute;
    bottom: 50px;
    right: 3em;
    width: 12%;
    height: 4vh;
    opacity: .8;
    z-index: 2;
    border-radius: 5px;
    background-color: grey;
    overflow: hidden;

  }

  #attribution {
    position: absolute;
    background-color: grey;
    z-index:2;
  }

  #export-png {
    font-weight: bold;
  }

  /* Icon styles */

  .svg-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  #hamburger > line {
    stroke: #ffffff;
    stroke-width:5;
    stroke-linecap: round;
  }
  #hamburger > line:nth-of-type(1) {
    transform: translateY(-10px);
  }
  #hamburger > line:nth-of-type(3) {
    transform: translateY(10px);
  }

  #cogs > circle {
    stroke: #ffffff;
    stroke-width:5;
    fill: none;
  }
  #cogs > line {
    stroke: #ffffff;
    stroke-width:5;
    stroke-linecap: round;
  }

  #layers > polygon {
    stroke: #ffffff;
    stroke-width:2;
    stroke-linecap: round;
    fill: #bbbbbb;
  }
  #sel {
    fill: #dddddd !important
  }

  #layers > line {
    stroke: #ffffff;
    stroke-width: 1;
    stroke-dasharray: 3,2;
  }

  .ico {
    background-color: #999;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid transparent;
  }


/* Media queries */

  @media (orientation: landscape) {
    #sidebar {
      width: 100px;
      height: 100%;
    }
    #tab-list {
      height: 100%;
      width: 100px;
    }
    #list-of-tabs {
      display: grid;
    }
}

@media (orientation: portrait) {
  #sidebar {
    width: 100%;
    height: 100px;
  }
  #tab-list {
    height: 100px;
    width: 100%;
  }
  #list-of-tabs > li {
    display:inline;
  }
}
